In [117]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [118]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [119]:
import pandas as pd

In [120]:
fake = pd.read_csv("Fake.csv")
genuine=pd.read_csv("True.csv")

In [121]:
 display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [122]:
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [123]:
display(genuine.head())

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017

[5 rows x 4 columns]

In [124]:
display(fake.head())

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

In [125]:
display(fake.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [126]:
display(genuine.subject.value_counts())

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [127]:
fake['target']=0
genuine['target']=1

In [128]:
display(genuine.head())

                                               title  ... target
0  As U.S. budget fight looms, Republicans flip t...  ...      1
1  U.S. military to accept transgender recruits o...  ...      1
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...      1
3  FBI Russia probe helped by Australian diplomat...  ...      1
4  Trump wants Postal Service to charge 'much mor...  ...      1

[5 rows x 5 columns]

In [129]:
display(fake.head())

                                               title  ... target
0   Donald Trump Sends Out Embarrassing New Year’...  ...      0
1   Drunk Bragging Trump Staffer Started Russian ...  ...      0
2   Sheriff David Clarke Becomes An Internet Joke...  ...      0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4   Pope Francis Just Called Out Donald Trump Dur...  ...      0

[5 rows x 5 columns]

In [130]:
data=pd.concat([fake,genuine],axis=0)

In [131]:
data=data.reset_index(drop=True)#error free index

In [132]:
data=data.drop(['subject','date','title'],axis=1)

In [133]:
print(data.columns)

Index(['text', 'target'], dtype='object')

TOKENIZE

In [134]:
from nltk.tokenize import word_tokenize

In [135]:
data['text']=data['text'].apply(word_tokenize)

In [136]:
print(data.head())

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0

STEMMING

In [137]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer('english')

In [138]:
def stem_it(text):
  return [porter.stem(word) for word in text]

In [139]:
data['text']=data['text'].apply(stem_it)

In [140]:
display(data.head())

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0

**STOPWARD** **REMOVAL**

In [141]:
#from nltk.corpus import stopwards
#nltk.download('stopwords)
#print(stopwords.word('english))

In [142]:
def stop_it(t):
  dt=[word for word in t if len(word)>2]
  return dt

In [143]:
data['text']=data['text'].apply(stop_it)

In [144]:
print(data['text'].head(10))

0    [donald, trump, just, couldn, wish, all, ameri...
1    [hous, intellig, committe, chairman, devin, nu...
2    [friday, was, reveal, that, former, milwauke, ...
3    [christma, day, donald, trump, announc, that, ...
4    [pope, franci, use, his, annual, christma, day...
5    [the, number, case, cop, brutal, and, kill, pe...
6    [donald, trump, spent, good, portion, his, day...
7    [the, wake, yet, anoth, court, decis, that, de...
8    [mani, peopl, have, rais, the, alarm, regard, ...
9    [just, when, you, might, have, thought, get, b...
Name: text, dtype: object

In [145]:
data['text']=data['text'].apply(' '.join)

SPLITTING

In [146]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(data['text'],data['target'],test_size=0.25)
display(X_train.head())
print('\n')
display(Y_train.head())

18276    the hyster terrenc william weigh the news that...
4842     this whi one should vote for republican ever a...
785      when republican talk about cut tax they genera...
1326     after friday right-w terror attack portland wh...
5299     marco rubio who now work dog keep his mostly-e...
Name: text, dtype: object

18276    0
4842     0
785      0
1326     0
5299     0
Name: target, dtype: int64

VECTORIZATION

In [147]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf =TfidfVectorizer(max_df=0.7)
tfidf_train=my_tfidf.fit_transform(X_train)
tfidf_test=my_tfidf.transform(X_test)

In [148]:
print(tfidf_train)

  (0, 22118)	0.057791629165559084
  (0, 81010)	0.024517105631269576
  (0, 18018)	0.09484872320624309
  (0, 13400)	0.023758875793160272
  (0, 81164)	0.036485923064598295
  (0, 51002)	0.1134178024510561
  (0, 30835)	0.11638399934317042
  (0, 77469)	0.023929494703750737
  (0, 61046)	0.027004820055083065
  (0, 49583)	0.05859291111662346
  (0, 64117)	0.06078891234622641
  (0, 31740)	0.06482466305146918
  (0, 52025)	0.05384494136092676
  (0, 56973)	0.0690809213388957
  (0, 30778)	0.06038425244267995
  (0, 66419)	0.04677679965988149
  (0, 32880)	0.06555405313132488
  (0, 12777)	0.13941409035314672
  (0, 69042)	0.06358932713660256
  (0, 32558)	0.0716262418095904
  (0, 57708)	0.08359529686785117
  (0, 16934)	0.09229321187235844
  (0, 16565)	0.09033693122516347
  (0, 7156)	0.06922747257329809
  (0, 49242)	0.10167983891018426
  :	:
  (33672, 34561)	0.01455046243403863
  (33672, 60596)	0.01924933751287192
  (33672, 88664)	0.009732656764191423
  (33672, 55196)	0.018771179076630843
  (33672, 13317)	0.014249004090060859
  (33672, 89536)	0.01084580540657547
  (33672, 87136)	0.017128511045447443
  (33672, 60457)	0.03471589873399829
  (33672, 81010)	0.022897339594262284
  (33672, 77469)	0.05587137556034057
  (33672, 66419)	0.021843203742186915
  (33672, 7156)	0.01077563948346324
  (33672, 86625)	0.01974768930882872
  (33672, 61479)	0.03524167953817192
  (33672, 59041)	0.0179784501154754
  (33672, 37593)	0.009003691604112785
  (33672, 81284)	0.009374153311866546
  (33672, 10575)	0.019706494737744624
  (33672, 62946)	0.012014592561353786
  (33672, 17430)	0.01361652030528676
  (33672, 37736)	0.0448668865225907
  (33672, 52618)	0.016504515181751646
  (33672, 38879)	0.0197961506054443
  (33672, 65325)	0.010665002846460304
  (33672, 54109)	0.021099927992296312

**LOGISTIC** **REGRESSION**

In [153]:
from sklearn.linear_model import LogisticRegression
#from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [154]:
model_1=LogisticRegression(max_iter=900)
model_1.fit(tfidf_train,Y_train)
pred_1=model_1.predict(tfidf_test)
cr1=accuracy_score(Y_test,pred_1)
print(cr1*100)

98.84187082405346

PASSIVE AGRESSIVE CLASSIFIER

In [155]:
from sklearn.linear_model import PassiveAggressiveClassifier
model=PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train,Y_train)
y_pred=model.predict(tfidf_test)
cr2=accuracy_score(Y_test,y_pred)
print(cr2*100)

99.69710467706014